body, html{
    font-family: 'Montserrat', sans-serif;
}

a:hover{
    color: white;
    text-decoration: none;
}

.bg-first {
    background-color: #EADA68;
}

.first-text{
    color: #EDD920;
}

.dark-text{
    color: #444444;
}

.bold{
    font-weight: bold;
}

.big{
    font-size: 5em;
}

.medium{
    font-size: 1.5em;
}

.pageWrapper {
    width: 100%;
}

.navContainer{
    position: sticky;
    top: 0;
    z-index: 2;
    height: 10vh;
}

nav{
    height: 10vh;
}

.nav-wrapper{
    box-shadow: 0px;
    height: 10vh !important;
}

.brand-logo{
    height: 10vh;
    line-height: 10vh;
    margin-left: 60px;
}

.brand-logo img{
    height: 60px;
    vertical-align: middle;
}

#nav-mobile li a{
    line-height: 10vh;
}

#home {
    height: fit-content;
    width: 100%;
    text-align: center;
    position: relative;
}

#myVideo {
    object-fit: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: 0;
}

.color-overlay{
    background-color: #EADA68;
    opacity: .7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

}

#home h1{
    width: 30%;
    position: relative;
    animation: init 2s;
    margin-bottom: 60px ;
    margin-top: 100px ;
    margin-right: auto;
    margin-left: auto;

}

.btn-contact{
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    animation: init 2s;

}

.btn-contact a{
    border: 3px solid white;
    padding: 30px;
    border-radius: 20px;
    color: white;
    transition: padding 0.5s;
}

.btn-contact a:hover{
    border: 3px solid #444444;
    background-color: #EADA68;
    padding: 30px;
    border-radius: 30px;
    padding: 40px;
    color: #444444;
}

.illus{
    width: 40%;
    position: relative;
    animation: init 2s;
    align-self: center;
    z-index: 1;
}

@keyframes init{
    from{
        opacity: 0%;
        bottom: -300px;
    }
    to{
        opacity: 100%;
        bottom: 0px;
    }
}

.wrappp{
    position: relative;
}

#about{
    height: fit-content;
    text-align: center;
    background-color: white;
}

.who{
    margin-top: 10px;
}

#about img{
    height: 25px;
    margin-bottom: 0px;
}

#about h4{
    margin-bottom: 30px;

}

#about p{
    font-size: 1.5em;
    width: 60%;
    margin: auto;
    text-align: center;
    font-weight: 400;
}

.info-about{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#services{
    top: -1px;
    height: fit-content;
    text-align: center;
    background-color: #F4F4F4;
}

.services-types{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

.services-types div p{
    font-size: 1.3em;
    width: 50%;
    margin: auto;
}

#portfolio{
    height: fit-content;
    text-align: center;
    background-color: #ffffff;
}

.client-display{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.client-display img{
    margin-top: 40px;
    height: 100px;
    filter: grayscale(100%);
    transition: filter 0.5s;
    transition: height 0.5s;
}

.client-display img:hover{
    filter: grayscale(0%);
    height: 110px;
}

#team{
    height: fit-content;
    text-align: center;
    background-color: #ffffff;
}

#team h2{
    margin-top: 50px;
}

.us-display{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-display{
    text-align: center;
    width: 33%;
}

.us-img{
    margin: auto;
    height: 250px;
    width: 250px;
    border-radius: 200px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.247);
}

.social-icons{
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    margin: auto;
    margin-top: 20px;
}

.git-icon{
    height: 50px;
    width: 50px;
    background-image: url(./assets/Github_2.svg);
    background-size: cover;
    transition: all 0.5s;
}

.git-icon:hover{
    height: 60px;
    width: 60px;
    background-image: url(./assets/Github.svg);
}

.link-icon{
    height: 50px;
    width: 50px;
    background-image: url(./assets/Linkedin_2.svg);
    background-size: cover;
    transition: all 0.5s;
}

.link-icon:hover{
    height: 60px;
    width: 60px;
    background-image: url(./assets/Linkedin.svg);
}

.cv-icon{
    height: 50px;
    width: 50px;
    background-image: url(./assets/cv.svg);
    background-size: cover;
    transition: all 0.5s;
}

.cv-icon:hover{
    height: 60px;
    width: 60px;
    background-image: url(./assets/cv2.svg);
}

.diego{
    background-image: url('./assets/us2.jpg');
    background-size: cover;
    background-position-y: 50%;
}

.luis{
    background-image: url('./assets/us1.jpg');
    background-size: cover;
    background-position-x: 50%;
}

.alex{
    background-image: url('./assets/us3.jfif');
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 60%;
}

#contact{
    height: fit-content;
    text-align: center;
    background-color: #f0eee4d0;
}

#contact h2{
    margin-top: 60px;
}

.contact-div{
    width: 50%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 100px;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 20px;
}

.input-field{
    margin-top: 40px;
}

.btn-send{
    background-color: #EADA68;
    width: 50%;
}

.btn-send:hover{
    background-color: #EADA68;
}

.input-field .prefix.active {
    color: #EADA68;
  }
  
  .input-field label{
    color: #444444;
  }

.input-field input[type=email]:focus {
    border-bottom: 1px solid #EADA68 !important;
    box-shadow: 0 1px 0 0 #EADA68 !important;
  }
  
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #EADA68 !important;
    box-shadow: 0 1px 0 0 #EADA68 !important;
  }
  
  .input-field input[type=email]:focus + label {
    color: #EADA68 !important;
  }
  
  .input-field input[type=text]:focus + label {
    color: #EADA68 !important;
  }


  .materialize-textarea:focus{
    border-bottom: 1px solid #EADA68 !important;
    box-shadow: 0 1px 0 0 #EADA68 !important;
  }

      .input-field input[type=text].valid {
        border-bottom: 1px solid#EDD920;
        box-shadow: 0 1px 0 0 #EDD920;
      }
      .input-field input[type=email].valid {
        border-bottom: 1px solid #EDD920;
        box-shadow: 0 1px 0 0 #EDD920;
      }

  .materialize-textarea:focus + label{
    color: #EADA68 !important;
  }

  .contact-btn{
      background-color: #EADA68;
      border: none;
      outline: none;
      padding: 20px;
      width: 40%;
  }

@media (max-width: 768px) {

    #nav-mobile{
        display: none;
    }

    #myVideo{
        display: none;
    }

    #home h1{
        font-size: 3em;
        text-align: center;
        width: 100%;
    }

    .brand-logo{
        margin: auto;
    }

    .btn-contact a{
        font-size: 1em;
    }

    .info-about{
        display: block;
    }

    .info-about div{
        margin-bottom: 40px;
    }

    .services-types{
        display: block;
    }

    .services-types div{
        margin-bottom: 40px;
    }

    .us-display{
        display: block;
    }

    .img-display{
        width: 100%;
        margin-bottom: 30px;
    }

    .contact-div{
        width: 90%;
    }
}

@media (min-width: 426px) and (max-width: 768px){
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
}

@media only screen and (min-width: 1024px){
}

@media only screen and (min-width: 1440px){
}

